/*PC页面重置(非响应式)*/
@charset “utf-8″;
* {
  tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
 font-family:PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,Helvetica Neue,Arial,sans-serif;
}

html{border:0; height: inherit;
        overflow-x: hidden; overflow-y: auto;
        font-family:' Microsoft YaHei ','PingFang SC','Droidsansfallback';
}
body{margin:0 auto; padding:0;font-size:12px;background: #f1f1f1;
height: inherit;line-height: inherit;height: 100%;min-width: 980px;
}
div,dl,dt,dd,ol,ul,b,li,p,h1,h2,h3,h4,input,h6,h5,form,i,pre,fieldset,textarea,p,blockquote,th,td
{margin:0; padding:0;list-style:none; font-weight:normal; font-style: normal;}
dl,ul,li,p{text-align:left;}
img{border:0px;width: 50px;height: 50px;}
.clear{clear:both; overflow:hidden; }
a{ color:#000; text-decoration:none;-webkit-user-select:none;-webkit-touch-callout: none;}
em{font-style: normal;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
table {
     border-collapse:collapse;
     border-spacing:0;
 }
fieldset,img {
     border:0;
}
img{width: 100%;height: auto;}
address,caption,cite,code,dfn,em,strong,th,var {
     font-style:normal;
     font-weight:normal;
}
caption,th {
     text-align:left;
}
h1,h2,h3,h4,h5,h6 {
     font-size:100%;
     font-weight:normal;
}
q:before,q:after {
     content:”;
}
abbr,acronym {
     border:0;
}


/*{background-image: url(../img/sprit181120-2.png);
 background-image: -webkit-image-set(url(../img/sprit181120-2.png) 1x,url(../img/sprit181120-2@2x.png) 2x);
 background-repeat: no-repeat;}*/
#navM,
.header #goback,
.header #header-nav,
#QRcode,
.content .sale-goods span.good-box a.gotoindex-m
{display: none;}

/*login*/
.login .login-wrapper{width: 100%;height: 300px;background: url(../img/login-bg.png) no-repeat center top;background-size: 100% auto;}
.login .login-header{width: 400px;color: #fff;margin: 0 auto;font-size: 24px;padding-top: 50px;}
.login .login-header p{letter-spacing: 5px;font-size: 18px;text-align: center;margin-bottom: 10px;}
.login .login-header h1{text-align: center;letter-spacing: 2px;font-weight: 500;}

.login .login-body{background: #f1f1f1;background: rgba(255,255,255,0.5);border-radius: 20px;padding: 15px;width: 400px;margin: 0 auto;box-shadow: 1px 5px 7px rgba(0,0,0,0.2);margin-top: 30px;}
.login .login-body .login-row{overflow: hidden;background: #fff;padding: 10px;margin-top: 15px}
.login .login-body .login-row:first-child{margin-top: 0;}
.login .login-body .login-row i{float: left;width: 30px;height: 30px;}
.login .login-body .login-row input{border: 0;height: 30px;width: 340px;float: right;line-height: 30px;padding-left: 10px}
.login .login-body #checkSubmit{display: block;width: 100px;height: 30px;background: #2D9CDB;color: #fff;text-align: center;line-height: 30px;border: 0;margin: 15px auto 0;}
.login .login-body .login-row p{display: none;clear: both;margin-top: 5px;padding: 5px 0;}

.login .login-body .login-row.error p{display: block;color: #F42323;border-top: 1px solid #F42323;animation: errorshow 0.6s both;}
@keyframes errorshow{
    0%{opacity: 0}
    100%{opacity: 1;}
}


/*page-1*/
.header{width: 100%;height: 40px;background: #2DC3E8;overflow: hidden;padding: 5px 0;}
.header .left{float: left;overflow: hidden;}
.header .left h2{width: 225px;height: 40px;line-height: 40px;font-size: 16px;font-weight: 600;text-align: center;color: #fff;float: left;}
.header .left .header-login{float: left;height: 40px;overflow: hidden;}
.header .left .header-login img{float: left;height: 40px;width: auto;}
.header .left .header-login span{float: left;height: 40px;line-height: 40px;margin: 0 10px 0 15px;color: #fff;font-size: 14px;}
.header .left .header-login a{float: left;height: 30px;line-height: 30px;color: #fff;font-size: 14px;padding: 0 5px;border-left: 1px solid #fff;margin-top: 5px;}
.header .left .header-login a:hover{color: #EFED24}

.header .right{float: right;height: 40px;line-height: 40px;overflow: hidden;padding-right: 50px;}
.header .right img{width: auto;height: 100%;float: right;}
.header .right span{float: right;color: #fff;font-size: 16px;margin-right: 15px;font-weight: 600;}

.content{width: 100%;}
.content .col-left{width: 220px;position: fixed;top: 50px;left: 0;bottom: 0;background: #fff;border-right: 5px solid #e6e6e6}
.content .col-left i{
    background-image: url(../img/arrow.png);
     background-image: -webkit-image-set(url(../img/arrow.png) 1x,url(../img/arrow@2x.png) 2x);
     background-repeat: no-repeat;
}
.content .col-left i{display: block;position: absolute;right: 0;width: 15px;height: 20px;top: 50%;right: 10px;margin-top: -10px;}

.content .col-left li{border-bottom: 1px solid #f2f2f2;}
.content .col-left li a{display: block;position: relative;height: 50px;line-height: 50px;font-size: 16px;padding-left: 20px;transition: all 0.5s;border-left: 5px solid #fff}
.content .col-left li a:hover{background: #f2f2f2;border-left: 5px solid #959696}
.content .col-left li.on a{background: #f2f2f2;border-left: 5px solid #2DC3E8}

.content .col-right{position: fixed;top: 50px;right: 0;bottom: 0;left: 225px;background-color: #f0f0f0;overflow: auto;}

.content .sale-goods{width: 560px;padding: 20px 0 0 20px;}
.content .sale-goods input[type="text"]{display: block;width: 560px;height: 30px;font-size: 14px;padding: 5px;}
.content .sale-goods input[type="submit"]{display: block;background: #2D9CDB;color: #fff;border:0;width: 150px;height: 40px;margin: 15px auto 0;}
.content .sale-goods form.error p{color: #ED1919;display: block;}
.content .sale-goods form p{display: none;text-align: center;margin-top: 20px}

.content .sale-goods .goods-inner{background: #fff;border-radius: 10px;box-shadow: 4px 7px 8px #cac8c8;padding: 15px;}
.content .sale-goods span{display: block;overflow:hidden;}
.content .sale-goods span.good-box{padding-bottom: 15px;}
.content .sale-goods span.good-box img{float: left;width: 130px;height: 130px;}
.content .sale-goods span.good-box .good-box-btn{
    float: left;padding: 20px 0 0 80px;
}
.content .sale-goods span.good-box .goods-sure,
.content .sale-goods span.good-box a
{
    width: 250px;height: 40px;background: #27AE60;color: #fff;line-height: 40px;text-align: center;font-size: 14px;display: block;cursor: pointer;
}
.content .sale-goods span.good-box a{background: #24B2DD;margin-top: 15px;}
.content .sale-goods span p{font-size: 14px;line-height: 24px;color: #817f7f;padding: 5px 0;}
.content .sale-goods span.good-box #goods-sure.confirmed{
    background: #dfdfdf;
}

#dialog{background: url(../img/pc-cover.png);position: fixed;width: 100%;height: 100%;left: 0;right: 0;top: 0;z-index: 10;display: none;}
#dialog .dialog-wrapper{background: #fff;border-radius: 10px;position: absolute;left: 50%;top: 50%;width: 270px;overflow: hidden;margin: -85px 0 0 -135px}
#dialog .dialog-mes{padding: 50px 0;}
#dialog .dialog-mes span{background: url(../img/goods-sure.png) no-repeat;padding-left: 30px;display: block;width: 110px;margin: 0 auto;font-size: 16px;}
#dialog .dialog-back{height: 45px;background: #27AE60;display: block;color: #fff;font-size: 16px;line-height: 45px;text-align: center;}
#dialog .dialog-back:hover{background: #219452}

#dialog-double{background: url(../img/pc-cover.png);position: fixed;width: 100%;height: 100%;left: 0;right: 0;top: 0;z-index: 10;display: none;}
#dialog-double .dialog-wrapper{background: #fff;border-radius: 10px;position: absolute;left: 50%;top: 50%;width: 270px;overflow: hidden;margin: -85px 0 0 -135px}
#dialog-double .dialog-mes{display: block;width: 100%;text-align: center;font-size: 16px;height: 100px;line-height: 100px;border-bottom: 1px solid #ccc;}
#dialog-double .dialog-btn{height: 45px;overflow: hidden;}
#dialog-double .dialog-btn .btn-back{float: left;background: #fff;}
#dialog-double .dialog-btn .btn-sure{float: right;background:#27AE60;color: #fff}
#dialog-double .dialog-btn .btn-back:hover{background: #ccc}
#dialog-double .dialog-btn .btn-sure:hover{background: #219452}#dialog-double .dialog-btn div{line-height: 45px;text-align: center;font-size: 14px;width: 135px;cursor: pointer;}

#dialog-success{background: url(../img/pc-cover.png);width: 200px;height: 80px;position: absolute;left: 50%;top: 50%;margin-top: -40px;margin-left: -100px;color: #fff;font-size: 16px;text-align: center;line-height: 80px;border-radius: 10px;display: none;}


.sale-record {width: 780px;padding: 20px 0 0 20px;}
.sale-record ul{overflow: hidden;}
.sale-record li{overflow: hidden;width: 350px;padding: 15px 10px;float: left;background: #fff;margin: 10px 10px;box-shadow: 4px 5px 7px -5px rgba(0,0,0,.2)}
.sale-record li img{float: left;width: 80px;height: 80px;}
.sale-record li .record-info{float: right;width: 250px;}
.sale-record li .record-info .title{font-size: 14px;line-height: 24px;height: 50px;overflow: hidden;}
.sale-record li .record-info span{display: block;overflow: hidden;margin-top: 14px;}
.sale-record li .record-info span i.record-state{float: left;color: #2D9CDB;}
.sale-record li .record-info span i.record-data{float: right;color: #747474}

.pageArea{  padding:10px 0; margin:0 10px;}
.ipages { font-family:Tahoma; font-size: 16px; text-align:center; margin:10px; color: #999;}
.ipages a { color:#555; background:#FFF; border:1px solid #E1E1E1; padding:5px 10px; text-decoration:none; }
.ipages a:hover{background:#2DC3E8; color:#fff;border:1px solid #2DC3E8;}
.ipages strong { color:#fff; background:#2DC3E8; border:1px solid #2DC3E8; padding:5px 10px; }
.ipages span{ color:#a7a7a7; background:#fff; padding:5px 10px;  font-size: 18px;}
a.PreviousLink:link{ color:#a7a7a7; border:1px solid #E1E1E1; background:#F2F2F2 no-repeat 10px 10px; padding:5px 10px 5px 18px; }
a.PreviousLink:hover{background:#fff; color:#a7a7a7; border:1px solid #E1E1E1;}
a.NextLink:link{ color:#0B398C; border:1px solid #E1E1E1; background:#fff; padding:5px 18px 5px 10px; }
a.NextLink:link:hover{background:#f1f1f1; color:#0B398C; border:1px solid #E1E1E1;}
.ipages span,a.PreviousLink:link{margin-right:4px; display:inline-table;}

.staff-management{position: absolute;width: 100%;background: #fff;height: 100%;}
.staff-management .staff-edit{position: absolute;width: 300px;height: 100%;overflow-y: auto;background: #f5f5f5;}
.staff-management .staff-edit a{text-align: center;display: block;color: #fff;width: 150px;height: 40px;background: #27AE60;line-height: 40px;margin: 30px auto;font-size: 16px;}
.staff-management .staff-edit a:hover{background: #219452}
.staff-management .staff-edit .staff-list{border-top: 1px solid #ddd}
.staff-management .staff-edit .staff-list li{border-bottom: 1px solid #ddd;padding: 10px 10px;}
.staff-management .staff-edit .staff-list li .staff-name{overflow:hidden;}
.staff-management .staff-edit .staff-list li .staff-name p{float: left;font-size: 16px;height: 30px;line-height: 30px;}
.staff-management .staff-edit .staff-list li .staff-name button{float: right;background: #2D9CDB;color: #fff;width: 60px;height: 30px;border:0;}
.staff-management .staff-edit .staff-list li .staff-name button:hover{background:#288AC2 }
.staff-management .staff-edit .staff-list li .staff-info{font-size: 12px;margin-top: 10px;color: #838383;word-break: break-all;}

.staff-management .staff-input{height: 100%;position: absolute;right: 0;bottom: 0;left: 300px;}
.staff-management .staff-input .staff-before{font-size: 18px;text-align: center;position: absolute;top: 50%;margin-top: -12px;width: 100%;margin-left: 0%;}

.staff-management .staff-input .staff-addin{padding: 20px;}
.staff-management .staff-input .staff-addin p{overflow: hidden;}
.staff-management .staff-input .staff-addin span{float: left;height: 50px;line-height: 50px;width: 90px;font-size: 16px;}
.staff-management .staff-input .staff-addin input{float: left;height: 50px;line-height: 50px;font-size: 16px;border:0;border-bottom: 1px solid #ddd;width: 300px;padding: 0 5px;}
.staff-management .staff-input .staff-addin cite{display: none;clear: both;color: #EA1C1C;padding-top: 15px;font-size: 14px;margin-bottom: 15px;}
.staff-management .staff-input .staff-addin .error cite{display: block;}

.staff-management .staff-input .staff-addin #staff-gonext{display: block;background: #27AE60;color: #fff;text-align: center;height: 40px;line-height: 40px;width: 300px;margin-top: 50px;border-radius: 50px;font-size: 16px;}
.staff-management .staff-input .staff-addin #staff-gonext:hover{background: #219452}

.staff-management .staff-input .staff-erwei{background: #f9f9f9;padding: 20px;height: 100%;position: absolute;right: 0;bottom: 0;left: 0;}
.staff-management .staff-input .staff-erwei .erwei-wrapper{width: 300px;background: #fff;margin: 50px;padding: 20px 20px;border-radius: 20px;box-shadow: 6px 9px 9px 2px #e6e6e6}
.staff-management .staff-input .staff-erwei .erwei-wrapper p{color: #aaa;font-size: 16px;text-align: center;height: 50px;line-height: 50px;}

.staff-management .staff-input .staff-erwei .link-wrap{width: 220px;margin: 0 auto;overflow: hidden;display: none;}
.staff-management .staff-input .staff-erwei.staff-goback .link-wrap{display: block;}
.staff-management .staff-input .staff-erwei a{display: block;width: 100px;height: 40px;line-height: 40px;text-align: center;font-size: 14px;color: #fff;float: left;border-radius: 10px;}
.staff-management .staff-input .staff-erwei a.goto-staff-edit{background: #27AE60;}
.staff-management .staff-input .staff-erwei a.goto-index{background: #2DC3E8;margin-left: 20px;}

a#go-top{width: 40px;height: 40px;background: #E1C31E url(../img/go-top.png) no-repeat center center;text-indent: -999em;}