html{font-family: "Microsoft YaHei", "微软雅黑",'icon-xq','Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;}

@font-face {
	font-family: 'icon-xq';
	src:url('http://libs.qdxin.cn/touchicon/fonts/icon-xq.ttf?-getjlo') format('truetype');/* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
}

[class^="xq-"], [class*=" xq-"] {
	font-family: 'icon-xq';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.xq-buxing:before{content: "\e600";}
.xq-car:before{content: "\e601";}
.xq-daba:before{content: "\e602";}
.xq-jiaoya:before{content: "\e603";}

.xq-1:before {content: "\e605";}
.xq-1x:before {content: "\e604";}
.xq-2:before {content: "\e607";}
.xq-2x:before {content: "\e606";}
.xq-3:before {content: "\e609";}
.xq-3x:before {content: "\e608";}
.xq-4:before {content: "\e60b";}
.xq-4x:before {content: "\e60a";}
.xq-5:before {content: "\e60d";}
.xq-5x:before {content: "\e60c";}
.xq-6:before {content: "\e60f";}
.xq-6x:before {content: "\e60e";}
.xq-7:before {content: "\e611";}
.xq-7x:before {content: "\e610";}
.xq-8:before {content: "\e731";}
.xq-8x:before {content: "\e730";}
.xq-9:before {content: "\e733";}
.xq-9x:before {content: "\e732";}
.xq-10:before {content: "\e735";}
.xq-10x:before {content: "\e734";}
.xq-11:before {content: "\e737";}
.xq-11x:before {content: "\e736";}
.xq-12:before {content: "\e739";}
.xq-12x:before {content: "\e738";}
.xq-13:before {content: "\e73b";}
.xq-13x:before {content: "\e73a";}
.xq-14:before {content: "\e73d";}
.xq-14x:before {content: "\e73c";}
.xq-15:before {content: "\e73e";}
.xq-15x:before {content: "\e73f";}
.xq-16:before {content: "\e741";}
.xq-16x:before {content: "\e740";}
.xq-17:before {content: "\e743";}
.xq-17x:before {content: "\e742";}
.xq-18:before {content: "\e745";}
.xq-18x:before {content: "\e744";}
.xq-19:before {content: "\e747";}
.xq-19x:before {content: "\e746";}
.xq-20:before {content: "\e749";}
.xq-20x:before {content: "\e748";}

.xq-A:before {content: "\e74a";}
.xq-A-x:before {content: "\e74b";}
.xq-B:before {content: "\e74d";}
.xq-B-x:before {content: "\e74c";}
.xq-C:before {content: "\e74e";}
.xq-C-x:before {content: "\e74f";}
.xq-D:before {content: "\e750";}
.xq-D-x:before {content: "\e751";}
.xq-E:before {content: "\e752";}
.xq-E-x:before {content: "\e753";}
.xq-F:before {content: "\e754";}
.xq-F-x:before {content: "\e755";}
.xq-G:before {content: "\e756";}
.xq-G-x:before {content: "\e757";}
.xq-H:before {content: "\e758";}
.xq-H-x:before {content: "\e759";}
.xq-info:before {content: "\e75a";}
.xq-info-x:before {content: "\e75b";}
.xq-zhengjian:before {content: "\e75c";}
.xq-zhengjian-x:before {content: "\e75d";}
.xq-videostop:before {content: "\e75e";}
.xq-videostop-x:before {content: "\e75f";}
.xq-dianji:before{content: "\e760";}
.xq-dianji-x:before{content: "\e761";}
.xq-dianshang:before{content: "\e762";}

.xq-gouwuche2:before{content: "\e768";}
.xq-gouwuche2-x:before{content: "\e767";}

.xq-tuipiao:before{content: "\e76c";}
.xq-tuipiao-x:before{content: "\e76b";}

.xq-biaoqian2:before{content: "\e764";}
.xq-biaoqian2-x:before{content: "\e763";}

.xq-flag:before{content: "\e766";}
.xq-flag-x:before{content: "\e765";}

.xq-jingdian:before{content: "\e76a";}
.xq-jingdian-x:before{content: "\e769";}


.xq-youhui:before {
	content: "\e612";
}
.xq-pinpai:before {
	content: "\e613";
}
.xq-tuijian:before {
	content: "\e614";
}
.xq-qiang:before {
	content: "\e615";
}
.xq-yisha .path1:before {
	content: "\e616";
	color: rgb(28, 44, 100);
}
.xq-yisha .path2:before {
	content: "\e617";
	margin-left: -1em;
	color: rgb(227, 85, 15);
}
.xq-yisha-d:before {
	content: "\e618";
}
.xq-jin .path1:before {
	content: "\e619";
	color: rgb(245, 86, 0);
}
.xq-jin .path2:before {
	content: "\e61a";
	margin-left: -1.052734375em;
	color: rgb(29, 43, 108);
}
.xq-jin-d:before {
	content: "\e61b";
}
.xq-fangzhi-logo:before {
	content: "\e61c";
}
.xq-fangzhi-text:before {
	content: "\e61d";
}
.xq-yisha-text:before {
	content: "\e61e";
}
.xq-xinlogoc .path1:before {
	content: "\e61f";
	color: rgb(255, 194, 0);
}
.xq-xinlogoc .path2:before {
	content: "\e620";
	margin-left: -2.5859375em;
	color: rgb(90, 88, 88);
}
.xq-clublogoc .path1:before {
	content: "\e621";
	/*color: rgb(90, 88, 88);*/
}
.xq-clublogoc .path2:before {
	content: "\e622";
	margin-left: -3.0693359375em;
	color: rgb(255, 194, 0);
}
.xq-xinlogod:before {
	content: "\e623";
}
.xq-xinloading:before {
	content: "\e624";
}
.xq-aiclogo:before {
	content: "\e625";
}
.xq-faxianlogo:before {
	content: "\e626";
}
.xq-touplogo:before {
	content: "\e627";
}
.xq-vclogo:before {
	content: "\e628";
}
.xq-xclogo:before {
	content: "\e629";
}
.xq-xinbaologo:before {
	content: "\e62a";
}
.xq-zhanlogo:before {
	content: "\e62b";
}
.xq-zhibaologo:before {
	content: "\e62c";
}
.xq-zibenlogo:before {
	content: "\e62d";
}
.xq-zhendong:before {
	content: "\e62e";
}
.xq-erweima:before {
	content: "\e62f";
}
.xq-fukuanma:before {
	content: "\e630";
}
.xq-saoman:before {
	content: "\e631";
}
.xq-windows:before {
	content: "\e632";
}
.xq-android:before {
	content: "\e633";
}
.xq-mac:before {
	content: "\e634";
}
.xq-phone:before {
	content: "\e635";
}
.xq-qq:before {
	content: "\e636";
}
.xq-weixin:before {
	content: "\e637";
}
.xq-weibo:before {
	content: "\e638";
}
.xq-pengyouquan:before {
	content: "\e639";
}
.xq-loading:before {
	content: "\e63a";
}
.xq-loading2:before {
	content: "\e63b";
}
.xq-loading3:before {
	content: "\e63c";
}
.xq-tuichu:before {
	content: "\e63d";
}
.xq-tuichu-x:before {
	content: "\e63e";
}
.xq-tuichu2:before {
	content: "\e63f";
}
.xq-tuichu-x2:before {
	content: "\e640";
}
.xq-login:before {
	content: "\e641";
}
.xq-login-x:before {
	content: "\e642";
}
.xq-mima:before {
	content: "\e643";
}
.xq-miyao-x:before {
	content: "\e644";
}
.xq-mingpian:before {
	content: "\e645";
}
.xq-mingpian-x:before {
	content: "\e646";
}
.xq-wode:before {
	content: "\e647";
}
.xq-wode-x:before {
	content: "\e648";
}
.xq-geren:before {
	content: "\e649";
}
.xq-geren-x:before {
	content: "\e64a";
}
.xq-haoyou:before {
	content: "\e64b";
}
.xq-haoyou-x:before {
	content: "\e64c";
}
.xq-renqun:before {
	content: "\e64d";
}
.xq-renqun-x:before {
	content: "\e64e";
}
.xq-haoyou-x2:before {
	content: "\e64f";
}
.xq-nanren:before {
	content: "\e650";
}
.xq-nanren-x:before {
	content: "\e651";
}
.xq-nvren:before {
	content: "\e652";
}
.xq-nvren-x:before {
	content: "\e653";
}
.xq-kefu:before {
	content: "\e654";
}
.xq-kefu-x:before {
	content: "\e655";
}
.xq-nv-icon:before {
	content: "\e656";
}
.xq-nv-icon-x:before {
	content: "\e657";
}
.xq-nan-icon:before {
	content: "\e658";
}
.xq-nan-icon-x:before {
	content: "\e659";
}
.xq-lianxi:before {
	content: "\e65a";
}
.xq-lianxi-x:before {
	content: "\e65b";
}
.xq-dianhua:before {
	content: "\e65c";
}
.xq-dianhua-x:before {
	content: "\e65d";
}
.xq-pc:before {
	content: "\e65e";
}
.xq-pc-x:before {
	content: "\e65f";
}
.xq-touch:before {
	content: "\e660";
}
.xq-touch-x:before {
	content: "\e661";
}
.xq-dianpu:before {
	content: "\e662";
}
.xq-dianpu-x:before {
	content: "\e663";
}
.xq-gouwuche:before {
	content: "\e664";
}
.xq-gouwuche-x:before {
	content: "\e665";
}
.xq-wuliu:before {
	content: "\e666";
}
.xq-wuliu-x:before {
	content: "\e667";
}
.xq-liwu:before {
	content: "\e668";
}
.xq-liwu-x:before {
	content: "\e669";
}
.xq-huankuan:before {
	content: "\e66a";
}
.xq-huankuan-x:before {
	content: "\e66b";
}
.xq-hongbao:before {
	content: "\e66c";
}
.xq-hongbao-x:before {
	content: "\e66d";
}
.xq-baoxian:before {
	content: "\e66e";
}
.xq-baoxian-x:before {
	content: "\e66f";
}
.xq-baozhang:before {
	content: "\e670";
}
.xq-baozhang-x:before {
	content: "\e671";
}
.xq-jinqian:before {
	content: "\e672";
}
.xq-jinqian-x:before {
	content: "\e673";
}
.xq-daijinjan:before {
	content: "\e674";
}
.xq-daijinjan-x:before {
	content: "\e675";
}
.xq-anquan:before {
	content: "\e676";
}
.xq-anquan-x:before {
	content: "\e677";
}
.xq-vip:before {
	content: "\e678";
}
.xq-vip-x:before {
	content: "\e679";
}
.xq-rongyu:before {
	content: "\e67a";
}
.xq-rongyu-x:before {
	content: "\e67b";
}
.xq-safe:before {
	content: "\e67c";
}
.xq-safe-x:before {
	content: "\e67d";
}
.xq-leftfanhui:before {
	content: "\e67e";
}
.xq-leftfanhui-x:before {
	content: "\e67f";
}
.xq-rightfanhui:before {
	content: "\e680";
}
.xq-rightfanhui-x:before {
	content: "\e681";
}
.xq-souqi:before {
	content: "\e682";
}
.xq-souqi-x:before {
	content: "\e683";
}
.xq-xiala:before {
	content: "\e684";
}
.xq-xiala-x:before {
	content: "\e685";
}
.xq-guanbi:before {
	content: "\e686";
}
.xq-guanbi-x:before {
	content: "\e687";
}
.xq-xuanze:before {
	content: "\e688";
}
.xq-xuanze-x:before {
	content: "\e689";
}
.xq-huitop:before {
	content: "\e68a";
}
.xq-huitop-x:before {
	content: "\e68b";
}
.xq-down:before {
	content: "\e68c";
}
.xq-down-x:before {
	content: "\e68d";
}
.xq-xiajiao:before {
	content: "\e68e";
}
.xq-xiajiao-x:before {
	content: "\e68f";
}
.xq-shangjiao:before {
	content: "\e690";
}
.xq-shangjiao-x:before {
	content: "\e691";
}
.xq-youjiao:before {
	content: "\e692";
}
.xq-youjiao-x:before {
	content: "\e693";
}
.xq-zuojiao:before {
	content: "\e694";
}
.xq-zuojiao-x:before {
	content: "\e695";
}
.xq-jia:before {
	content: "\e696";
}
.xq-jia-x:before {
	content: "\e697";
}
.xq-jian:before {
	content: "\e698";
}
.xq-jian-x:before {
	content: "\e699";
}
.xq-guanbi2-x:before {
	content: "\e69a";
}
.xq-guanbi2:before {
	content: "\e69b";
}
.xq-okd:before {
	content: "\e69c";
}
.xq-okd-x:before {
	content: "\e69d";
}
.xq-youjian:before {
	content: "\e69e";
}
.xq-zuojian:before {
	content: "\e69f";
}
.xq-youjian-x:before {
	content: "\e6a0";
}
.xq-zuojian-x:before {
	content: "\e6a1";
}
.xq-shangsheng:before {
	content: "\e6a2";
}
.xq-shangsheng-x:before {
	content: "\e6a3";
}
.xq-xialuo:before {
	content: "\e6a4";
}
.xq-xialuo-x:before {
	content: "\e6a5";
}
.xq-tanhao:before {
	content: "\e6a6";
}
.xq-tanhao-x:before {
	content: "\e6a7";
}
.xq-yiwen:before {
	content: "\e6a8";
}
.xq-yiwen-x:before {
	content: "\e6a9";
}
.xq-jinzhi:before {
	content: "\e6aa";
}
.xq-jinzhi-x:before {
	content: "\e6ab";
}
.xq-mulu:before {
	content: "\e6ac";
}
.xq-mulu-x:before {
	content: "\e6ad";
}
.xq-dianping:before {
	content: "\e6ae";
}
.xq-dianping-x:before {
	content: "\e6af";
}
.xq-dingdan:before {
	content: "\e6b0";
}
.xq-dingdan-x:before {
	content: "\e6b1";
}
.xq-kapian:before {
	content: "\e6b2";
}
.xq-kapian-x:before {
	content: "\e6b3";
}
.xq-fenlei:before {
	content: "\e6b4";
}
.xq-fenlei-x:before {
	content: "\e6b5";
}
.xq-pindao:before {
	content: "\e6b6";
}
.xq-pindao-x:before {
	content: "\e6b7";
}
.xq-duihua:before {
	content: "\e6b8";
}
.xq-duihua-x:before {
	content: "\e6b9";
}
.xq-duihua2:before {
	content: "\e6ba";
}
.xq-duihua2-x:before {
	content: "\e6bb";
}
.xq-qunliao:before {
	content: "\e6bc";
}
.xq-qunliao-x:before {
	content: "\e6bd";
}
.xq-qunliao2:before {
	content: "\e6be";
}
.xq-qunliao2-x:before {
	content: "\e6bf";
}
.xq-rexiao:before {
	content: "\e6c0";
}
.xq-rexiao-x:before {
	content: "\e6c1";
}
.xq-new:before {
	content: "\e6c2";
}
.xq-new-x:before {
	content: "\e6c3";
}
.xq-fire:before {
	content: "\e6c4";
}
.xq-fire-x:before {
	content: "\e6c5";
}
.xq-dingshi:before {
	content: "\e6c6";
}
.xq-dingshi-x:before {
	content: "\e6c7";
}
.xq-time:before {
	content: "\e6c8";
}
.xq-time-x:before {
	content: "\e6c9";
}
.xq-xiaoshi24:before {
	content: "\e6ca";
}
.xq-xiaoshi24-x:before {
	content: "\e6cb";
}
.xq-tixing:before {
	content: "\e6cc";
}
.xq-tixing-x:before {
	content: "\e6cd";
}
.xq-tishi:before {
	content: "\e6ce";
}
.xq-tishi-x:before {
	content: "\e6cf";
}
.xq-dianzi:before {
	content: "\e6d0";
}
.xq-dianzi-x:before {
	content: "\e6d1";
}
.xq-laba:before {
	content: "\e6d2";
}
.xq-laba-x:before {
	content: "\e6d3";
}
.xq-tuiguang:before {
	content: "\e6d4";
}
.xq-tuiguang-x:before {
	content: "\e6d5";
}
.xq-fasong:before {
	content: "\e6d6";
}
.xq-fasong-x:before {
	content: "\e6d7";
}
.xq-jiashu:before {
	content: "\e6d8";
}
.xq-jiashu-x:before {
	content: "\e6d9";
}
.xq-zhuzhuangtu:before {
	content: "\e6da";
}
.xq-zhuzhuangtu-x:before {
	content: "\e6db";
}
.xq-bingzhuangtu:before {
	content: "\e6dc";
}
.xq-bingzhuangtu-x:before {
	content: "\e6dd";
}
.xq-xiaoshoushang:before {
	content: "\e6de";
}
.xq-xiaoshoushang-x:before {
	content: "\e6df";
}
.xq-quxian:before {
	content: "\e6e0";
}
.xq-quxian-x:before {
	content: "\e6e1";
}
.xq-yuedu:before {
	content: "\e6e2";
}
.xq-yuedu-x:before {
	content: "\e6e3";
}
.xq-zuodouhao:before {
	content: "\e6e4";
}
.xq-youdouhao-x:before {
	content: "\e6e7";
}
.xq-youdouhao:before {
	content: "\e6e6";
}
.xq-zuodouhao-x:before {
	content: "\e6e5";
}
.xq-youjian2:before {
	content: "\e6e8";
}
.xq-youjian2-x:before {
	content: "\e6e9";
}
.xq-email:before {
	content: "\e6ea";
}
.xq-email-x:before {
	content: "\e6eb";
}
.xq-shouye:before {
	content: "\e6ec";
}
.xq-shouye-x:before {
	content: "\e6ed";
}
.xq-tupian:before {
	content: "\e6ee";
}
.xq-tupian-x:before {
	content: "\e6ef";
}
.xq-paishe:before {
	content: "\e6f0";
}
.xq-paishe-x:before {
	content: "\e6f1";
}
.xq-chakan:before {
	content: "\e6f2";
}
.xq-chakan-x:before {
	content: "\e6f3";
}
.xq-shexiang:before {
	content: "\e6f4";
}
.xq-shexiang-x:before {
	content: "\e6f5";
}
.xq-video:before {
	content: "\e6f6";
}
.xq-video-x:before {
	content: "\e6f7";
}
.xq-bianji:before {
	content: "\e6f8";
}
.xq-bianji-x:before {
	content: "\e6f9";
}
.xq-edit:before {
	content: "\e6fa";
}
.xq-edit2:before {
	content: "\e6fb";
}
.xq-xinhuan:before {
	content: "\e6fc";
}
.xq-xinhuan-x:before {
	content: "\e6fd";
}
.xq-shoucang:before {
	content: "\e6fe";
}
.xq-shoucang-x:before {
	content: "\e6ff";
}
.xq-sosuo:before,.xq-sosuoOpen:before{
	content: "\e700";
}
.xq-sosuo-x:before {
	content: "\e701";
}
.xq-fangda:before {
	content: "\e702";
}
.xq-fangda-x:before {
	content: "\e703";
}
.xq-suoxiao:before {
	content: "\e704";
}
.xq-suoxiao-x:before {
	content: "\e705";
}
.xq-shuaxin:before {
	content: "\e706";
}
.xq-shuaxin-x:before {
	content: "\e707";
}
.xq-fenxiang:before {
	content: "\e708";
}
.xq-fenxiang-x:before {
	content: "\e709";
}
.xq-zhuanfa:before {
	content: "\e70a";
}
.xq-zhuanfa-x:before {
	content: "\e70b";
}
.xq-zhan:before {
	content: "\e70c";
}
.xq-zhan-x:before {
	content: "\e70d";
}
.xq-cai:before {
	content: "\e70e";
}
.xq-cai-x:before {
	content: "\e70f";
}
.xq-wangluo:before {
	content: "\e710";
}
.xq-wangluo-x:before {
	content: "\e711";
}
.xq-ditu:before {
	content: "\e712";
}
.xq-ditu-x:before {
	content: "\e713";
}
.xq-dingwei:before {
	content: "\e714";
}
.xq-dingwei-x:before {
	content: "\e715";
}
.xq-biaoqian:before {
	content: "\e716";
}
.xq-biaoqian-x:before {
	content: "\e717";
}
.xq-shanchu:before {
	content: "\e718";
}
.xq-shanchu-x:before {
	content: "\e719";
}
.xq-shanchu2:before {
	content: "\e71a";
}
.xq-shanchu2-x:before {
	content: "\e71b";
}
.xq-shezhi:before {
	content: "\e71c";
}
.xq-shezhi-x:before {
	content: "\e71d";
}
.xq-shezhi2:before {
	content: "\e71e";
}
.xq-shezhi2-x:before {
	content: "\e71f";
}
.xq-yinyue:before {
	content: "\e720";
}
.xq-yinyue-x:before {
	content: "\e721";
}
.xq-yinyuegb:before {
	content: "\e722";
}
.xq-yinyuegb-x:before {
	content: "\e723";
}
.xq-link:before {
	content: "\e724";
}
.xq-link-x:before {
	content: "\e725";
}
.xq-link2:before {
	content: "\e726";
}
.xq-link2-x:before {
	content: "\e727";
}
.xq-wifi:before {
	content: "\e728";
}
.xq-wifi-x:before {
	content: "\e729";
}
.xq-wifi2:before {
	content: "\e72a";
}
.xq-wifi2-x:before {
	content: "\e72b";
}
.xq-zitifangda:before {
	content: "\e72c";
}
.xq-zitifangda-x:before {
	content: "\e72d";
}
.xq-zitisuoxiao:before {
	content: "\e72e";
}
.xq-zitisuoxiao-x:before {
	content: "\e72f";
}
