* { touch-action: pan-y; }
html,
body {
	margin: 0;
	padding: 0;
}
html,
body,
.container,
#bb-bookblock,
img {
	width: 100%;
	height: 100%;
}
#bb-bookblock {
	overflow: hidden;
}
.page404 {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
}

/* 向上翻页指引 */
.div-btn{
	width: 100%;
	height: 40px;
	position: fixed;
	top: 92%;
	z-index: 101;
}
.btn{
	width: 40px;
	height: 35px;
	background-image: url(../img/down.png);
	background-size: 100% 100%;
	margin: 0 auto;
	position: relative;
	-webkit-animation: down 3s infinite;
}
@-webkit-keyframes down{
	0%{
		top: 0px;
	}
	50%{
		top: 10px;
	}
	100%{
		top: 0;
	}
}

/* 信息弹窗 */
.pop {
	display: none;
	width: 82%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 45px;
	color: #ffffff;
	font-size: 1.1rem;
	margin-left: -40%;
	z-index: 900;
	position: fixed;
	top: 40%;
	left: 50%;
}