/*重置样式*/
@charset "utf-8";
* {
  tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*手机网站引用此字体 字体粗壮*/
  font-family:'微软雅黑','PingFang SC','Droidsansfallback';
  /*清除IOS默认样式 后添加*/
  -webkit-appearance: none;
}

html{border:0;height: inherit;}
body{margin:0 auto; font-size:16px;
max-width: 640px; min-width: 320px;
height: inherit;
line-height: inherit;
height: 100%;
}
div,dl,dt,dd,ol,ul,b,li,p,h1,h2,input,h6,h5,form,i{ margin:0; padding:0;list-style:none; font-weight:normal; font-style: normal;}
dl,ul,li,p{text-align:left;}
img{border:0px;display: block;width: 100%;}
a{ color:#000; text-decoration:none;-webkit-user-select:none;-webkit-touch-callout: none;}
em,i,b{font-style: normal;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
table {
     border-collapse:collapse;
     border-spacing:0;
 }    


 /*script-img*/
.headTop .logoQC
{
    background: url(../img/m-icon@2x.png) no-repeat;
    background-size: auto 200px;
}

/*display:none*/
.qdxinChanl
{display: none;}



/*footer*/
.bot1000{margin-top: 0px; padding-top: 0px; padding-bottom: 0px; background-color: #fff;}
.bot1000 ul{width: 100%; margin: 0 auto;}
.bot1000 ul li{text-align: center;  line-height: 30px; color: #555;font-size: 12px;}
.bot1000 ul li span{display: none;}
.bot1000 ul li span i{margin: 0 8px;}
.bot1000 ul li a{padding: 0 10px;}
.bot1000 ul li em{margin-right: 5px;}
.bot1000 ul li a:hover{color: #FFBF00;}
.bot1000 ul li i{display: none;}
.wabout a{font-size: 12px;color: #555;padding: 0 20px;}
.border_lra{border-left: 1px solid #999999;border-right: 1px solid #999999;}
.borderb0{border-bottom: 0;}
.bot1000 ul li:first-child{position: relative;top: 21px}
.bot1000 ul li:last-child{position: relative;top:-32px;}
.bot1000 .wabout{display: none;}
.daoHbot{height: 40px; line-height: 40px;  margin: 3px 4% 0 4%;display: block;}
.daoHbot li{float: left; width:16.5%; text-align: center;}
.daoHbot li a{color: #4d4d4d; font-size: 15px;}

/*m-head*/
.guDig {
    position: fixed;
    max-width: 480px;
    min-width: 320px;
    width: 100%;
    z-index: 1111;
    top: 0;
}
.headTop{
    height: 44px;
    background: #fff;
    line-height: 36px;
    padding: 3px 10px;
    border-bottom: 1px solid #EAEAEA;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}
.headTop .logoQC {height: 38px; text-indent: -99999em; width: 88px;margin: 0 auto; background-position: 9px 1px;}
.sdnews{background: #f7f7f7;padding:0px 5px 0 4%;height: 20px;line-height:20px;position: absolute;left: 0%; top: 12px;font-size: 12px;color: #7d7d7d;}
.sdnews::after{
    content: "";
    position: absolute;
    height: 0px;
    width: 0px;
    border-top: 20px solid  #e6e6e6;
    border-right: 6px solid transparent;
    top: 0px;
    right: -6px;
}
/*菜单动画*/
.menuPop{position: fixed;height: 100%;background:#f1f1f1; display: none;z-index: 100; 
-webkit-animation-name: fadeIn; /*动画名称*/
-webkit-animation-duration: 0.4s; /*动画持续时间*/
-webkit-animation-iteration-count: 1; /*动画次数*/
-webkit-animation-delay: 0s; /*延迟时间*/
 }
@-webkit-keyframes fadeIn{
0% {opacity: 0; }
50% {opacity: 0.5;}
100% {opacity: 1;}
}
.anmaiClose{-webkit-animation-name: closefadeIn; /*动画名称*/
-webkit-animation-duration: 0.4s; /*动画持续时间*/
-webkit-animation-iteration-count: 1; /*动画次数*/
-webkit-animation-delay: 0s; /*延迟时间*/
}
@-webkit-keyframes closefadeIn{
0% {opacity: 1; }
50% {opacity: 0.5;}
100% {opacity: 0;}
}
.xin-searchOpen{-webkit-animation-name: openfadeIn; /*动画名称*/
-webkit-animation-duration: 0.4s; /*动画持续时间*/
-webkit-animation-iteration-count: 1; /*动画次数*/
-webkit-animation-delay: 0s; /*延迟时间*/
}
@-webkit-keyframes openfadeIn{
0% {opacity: 0;}
50% {opacity: 0.5;}
100% {opacity: 1; }
}

.nav-hamburger{height: 30px;  width: 36px;  cursor: pointer;position:absolute; top:12px; z-index: 188;right:10px;}
.nav-hamburger .nav-hamburger-line {
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: #666;
    -webkit-transition-property: transform, opacity, -webkit-transform;
    -moz-transition-property: transform, opacity, -webkit-transform;
    -ms-transition-property: transform, opacity, -webkit-transform;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    transition-duration: 0.25s;
}
.nav-hamburger .nav-hamburger-line:nth-child(1) {
    top: 4px;
    left: 6px;
    -webkit-transform-origin: 2px 3px;
    -moz-transform-origin: 2px 3px;
    -ms-transform-origin: 2px 3px;
    transform-origin: 2px 3px;
}
.nav-hamburger .nav-hamburger-line:nth-child(2) {
    top: 9px;
    left: 6px;
    opacity: 1;
}
.nav-hamburger .nav-hamburger-line:nth-child(3) {
    top: 14px;
    left: 6px;
    -webkit-transform-origin: 4px 3px;
    -moz-transform-origin: 4px 3px;
    -ms-transform-origin: 4px 3px;
    transform-origin: 4px 3px;
}
.nav-hamburger-link .opened .nav-hamburger-line {
    background-color:#0365AA;
}
.nav-hamburger-link .opened .nav-hamburger-line:nth-child(1) {
    top: 2px;
    left: 9px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.nav-hamburger-link .opened .nav-hamburger-line:nth-child(2) {
    opacity: 0;
}
.nav-hamburger-link .opened .nav-hamburger-line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 12px;
    top: 11px;
}
/*菜单-动画 end*/
.proDuction{padding-top: 8px;}
.proDuction ul{ margin: 0 auto; padding:1rem 0;  }
.proDuction ul li{height:50px; text-align: center;float: left; width: 45%; }
.proDuction ul li a p{font-size: 20px; height: 50px; line-height: 50px; overflow: hidden; margin: 0 auto; text-align: center;  display: block; color: #fff;position: relative; font-weight: 300; border-radius:2px;}

.proDuction ul li:nth-child(even){margin:0 3% 3% 0;}
.proDuction ul li:nth-child(odd){margin:0 3% 3% 3%}
.proDuction ul li:nth-child(1) p{background: rgba(231, 0, 0, 0.33);}
.proDuction ul li:nth-child(2) p{background:rgba(246, 28, 75, 0.7)}
.proDuction ul li:nth-child(3) p{background: rgba(37, 190, 126, 0.63)}
.proDuction ul li:nth-child(4) p{background: rgba(255, 76, 66, 0.56)}
.proDuction ul li:nth-child(5) p{background: rgba(246, 108, 0, 0.62)}
.proDuction ul li:nth-child(6) p{background:rgba(61, 163, 255, 0.57)}
.proDuction ul li:nth-child(7) p{background: #FFB400;}
.proDuction ul li:nth-child(8) p{background: #FF7D00;}
.proDuction ul li:nth-child(9) p{background: #2ea7e0;}
.proDuction ul li:nth-child(10) p{background: #ad69b9;}

.headMenu{background:#f9f9f9; border-bottom:1px solid #d4d4d4; }
.popTopP45{padding-top:50px;padding-bottom: 4px;}
.menuTan{margin: 0 10px;}
.menuTan li{line-height:30px; height:30px; float: left; width:16.5%; text-align: center; margin-bottom:2px; }
.menuTan li:active{background: #FFD35A; border-radius:3px;}
.menuTan li a{font-size:18px; display:inline-block; color: #1D1D1D;}
.menuTan .danq a{ border-bottom: 2px solid #FFBF00; font-size: 20px; font-weight: 500;}
/*m-head end*/



/* public */
.clear:after{
     content: "";
     display: block;
     clear: both;
}
.font-song{
     font-family: "qdxin serif SC";
}
.base-width{ 
     width: 100%;
}
a:hover{
     color: #ff8000;
}
.text-hidden{
     overflow: hidden;
     text-overflow:ellipsis;
     white-space: nowrap;
}

/* 头图 */
.header-banner{
    padding-top: 44px; 
     min-height: 200px;
}
/* 头图 end */

/* 导航 */
.header-nav{
     background-color: #DB1818;
     padding: 10px 10px;
     text-align: center;
}
.header-nav .close{
     display: none;
}
.header-nav .inner{
     margin: 0 auto;
     overflow: hidden;
     background-color: #DB1818;
     padding: 0 10px;
     margin: 0 auto;
}
.header-nav-logo{
     height: 40px;
     width: 170px;
     margin: 0 auto 10px; 
}
.header-nav-logo img{
     height: 100%;
     width: auto;
}
.header-nav-ul{
    display: flex;
    flex-wrap: wrap;
}
.header-nav-ul li{
     display: inline-block;
     width: 25%;
}
.header-nav-ul li:before{
    
}
.header-nav-ul li a{
     display: block;
     height: 30px; 
     line-height: 30px;
     overflow: hidden;
     color: #FFF3C2;
     font-size: 14px; 
     text-align: center;
}
@keyframes fadeHeader{
     0%{
          opacity: 0;
     }
     100%{
          opacity: 1;
     }
}
.header-nav.fixed{
     position: fixed;
     top: 0;
     left: 0;
     right: 0px;
     bottom: 0;
     background-color: rgba(0,0,0,0.9);
     z-index: 1200;
     opacity: 0;
     animation: fadeHeader 0.5s both;
}
.header-nav.fixed .inner{
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 30%;
     background-color: #DB1818;
     padding: 15px;
     overflow: auto;
}
.header-nav.fixed .close{
     position: absolute;
     width: 40px;
     height: 40px;
     top: 0;
     right: 0px;
     background-color: #DB1818;
     color: #fff;
     line-height: 40px;
     z-index: 1;
     display: block;
}
.header-nav.fixed .header-nav-logo{
     float: none;
}
.header-nav.fixed .header-nav-ul{
     margin-top: 15px;
     width: auto;
     overflow: auto;
     position: absolute;
     top: 50px;
     bottom: 10px;
     left: 0;
     right: 0;
     display: block;
}
.header-nav.fixed .header-nav-ul li{
     width: 100%;
     display: block;
     padding: 5px 0;
}
.header-nav.fixed .header-nav-ul li a{
     font-size: 14px;
     text-align: center;

}
.header-nav-button{
     position: fixed;
     left: 0;
     width: 60px;
     height: 40px;
     line-height: 40px;
     text-align: center;
     color: #fff;
     border-radius: 0 10px 10px 0;
     top: 20%;
     background-color: #DB1818;
     z-index: 100;
     opacity: 0;
     transition: opacity 0.3s;
}
.header-nav-button.show{
     opacity: 1;
}
/* 导航 end */

/* part-focus */
.part-focus{
     background-image: url(../img/part-1-bg.png);
     min-height: 300px;
     background-size: auto 100%;
     background-position: top center;
     background-repeat: no-repeat;
}
.part-focus .inner{
     margin: 0 auto;
}
.focus{
     padding: 15px 4%;
}
.focus .focus-row{
    display: flex;
    align-items: center;
}
.focus em{
     background-color: #DB1818;
     color: #fff;
     font-size: 16px;
     font-weight: bold;
     line-height: 40px; 
     height: 40px;
     text-align: center;
     flex: 0 0 50px;
     border-radius: 10px;
}
.focus h1{
     font-weight: bold;
     font-size: 18px;
     padding-left: 10px; 
} 
.focus p{
     padding-top: 15px;
     font-size: 14px; 
}
/* part-focus end */

/* swiper */
.focus-news .device {
     position: relative;
}
.focus-news .device .arrow-left {
     background: url(../img/arrows.png) no-repeat left top;
     position: absolute;
     left: 10px;
     top: 50%;
     margin-top: -15px;
     width: 17px;
     height: 30px;
     z-index: 10;
}
.focus-news .device .arrow-right {
     background: url(../img/arrows.png) no-repeat left bottom;
     position: absolute;
     right: 10px;
     top: 50%;
     margin-top: -15px;
     width: 17px;
     height: 30px;
     z-index: 10;
}
.focus-news .swiper-container { 
     width: 100%; 
     height: 240px;
}
.focus-news .swiper-slide a{
     position: relative;
     display: block;
     height: 240px;
     overflow: hidden;
}
.focus-news .swiper-slide .slide-p{
     position: absolute;
     background-color: #DB2929;
     bottom: 0;
     left: 0;
     right: 0;
     color: #fff;
     padding: 10px 15px; 
     text-align: center;
}
.focus-news .pagination {
     position: absolute;
     right: 10px;
     bottom:10px;
     z-index: 10;
     display: none;

}
.focus-news .swiper-pagination-switch {
     display: inline-block;
     width: 5px;
     height: 5px;
     border-radius: 50px;
     background: #fff;
     margin: 0 3px;
     cursor: pointer;
}
.focus-news .swiper-active-switch {
     background: #ffeb3b;
}
/* swiper end */

/* .headline-title */
.headline-title span{
     display: inline-block;
     line-height: 40px;
     border: 2px solid; 
     color: #DB1818;
     padding: 0 15px;
     font-weight: bold;
     font-size: 20px; 
}
.headline-title{
     position: relative; 
}
.headline-title:after{
     content: "";
     border-radius: 50%;
     width: 6px;
     height: 6px;
     right: 0;
     top: 50%;
     margin-top: -3px;
     background-color: #DB1818;
     position: absolute; 
}
.headline-title:before{
     content: "";
     height: 1px;
     left: 130px;  
     right: 0;
     top: 50%;
     background-color: #DB1818;
     position: absolute; 
}
.headline-title.white span{
     color: #fff;
}
.headline-title.white:before,
.headline-title.white:after
{
     background-color: #fff;
}
/* headline-title end */

/* news-wrapper */
.news-wrapper{
    padding: 20px 4%;
}
.focus-news .slide-wrapper{
     width: 100%;
}
.focus-news-dl{
     padding-top: 10px;
     margin-bottom: 10px;
}
.focus-news-dl dt{
     font-weight: bold;
     font-size: 20px;  
     margin-bottom: 10px;
}
.focus-news-dl li{
     position: relative;
     padding: 5px 0 5px 10px;
     overflow: hidden;
     text-overflow:ellipsis;
    white-space: nowrap;
}
.focus-news-dl li a{
     font-size: 16px;
}
.focus-news-dl li:before{
     content: "";
     width: 5px;
     height: 5px;
     background-color: #000;
     position: absolute;
     border-radius: 50%;
     top: 14px;  
     left: 0;  
}


/* 日历 */
.focus-date{
     background-color: #DB1818;
     padding: 10px;
     border-radius: 5px;
}
.date-panel{
     background-color: #fff;
     border-radius: 5px;
     overflow: hidden;
}
.date-panel-yellow{
    background-color: #FFEBAB; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.date-panel-yellow strong{
     font-weight: bold;
     font-size: 18px;
}
.date-panel-yellow strong.red{
     color: #DB1818;
}
.focus-date .swiper-container {
     width: 100%;
     height: 50px;
     color: #fff;
     text-align: center;
     position: relative;
}
.focus-date .swiper-slide{
     color: #EB4826;
     padding: 10px 0;
     cursor: pointer;
}
.focus-date .swiper-slide em {
     color: #DB2929;
     display: inline-block;
     height: 30px;
     line-height: 30px;
     padding: 0 10px; 
}
/* .focus-date .swiper-visible-switch {
background: #aaa;
} */
/* .focus-date .swiper-slide.swiper-slide-active em {
     color: #fff;
     background-color: #DB2929;
     
} */
.focus-date .swiper-slide.active em {
     color: #fff;
     background-color: #DB2929;
     
}
.date-panel-swiper{
     position: relative;
     padding: 0 20px;
}
.date-swiper-left,
.date-swiper-right
{
     position: absolute;
     width: 15px;
     height: 30px; 
     top: 12px;  
     overflow: hidden;
}
.date-swiper-left{
     left: 10px;
}
.date-swiper-right{
     right: 10px; 
}
.date-text{
     position: relative;
     color: #fff;
     padding: 10px;  
}
.date-text:before,
.date-text:after
{
     position: absolute;
     font-size: 40px;  
     color: #ec6767;
     width: 20px;
     height: 20px;
}
.date-text:before{
     content:"“";
     top: 0px;
     left: 0px;
     display: none;
}
.date-text:after{
     content:"”";
     bottom: 0px;
     right: 0px;
     display: none;
}
/* 日历 end */

/* part-bigbanner */
.part-bigbanner{
     padding-top: 0px; 
     background-image: url(../img/part-bigbanner-bg.png); 
     width: 100%;
}
.big-banner{
     width: 100%;
     margin: 0 auto;
     display: block;
}
/* part-bigbanner end */


.title-center{
     width: 100%;
     margin: 0 auto;
     padding: 15px 0;
}


/* part-cards */
.part-cards{
     /* background-image: url(../img/part-cards-bg.png); */
     background-position: bottom center;
     background-repeat: no-repeat;
     background-size: 100% auto;
     padding: 15px 0 15px;  
}
.cards-swiper{
     margin: 10px auto 0; 
     
     position: relative;
}
.card-arrow-left,
.card-arrow-right
{
     position: absolute;
     font-size: 30px;
     width: 40px;
     height: 50px; 
     line-height: 50px;
     text-align: center;
     background-color: rgba(0,0,0,0.4);
     color: #fff;
     cursor: pointer;
     z-index: 10; 
}
.card-arrow-left{
     top: 50%;
     margin-top: -15px; 
     left: 0;
}
.card-arrow-right{
     top: 50%;
     margin-top: -15px;
     right: 0px; 
}
.cards-swiper .swiper-container{
     overflow: hidden;
     height: 280px;
}
.card-slide a{
     position: relative;
     z-index: 1;
     overflow: hidden;
}
.card-imgx{
    height: 210px;
    overflow: hidden;
}
.card-slide p{
     color: #fff;
     margin-top: 5px; 
     height: 40px;
     overflow: hidden;
}
.card-slide .card{
     position: relative;
     padding: 0 10px;
}
.card .card-inner{
     display: block; 
     padding: 10px 10px; 
}
.card-slide .card:before{
     content: "";
     position: absolute;
     bottom: 0;
     left: 10px;
     right: 10px;
     top: 30px;
}
.card-slide:nth-child(odd) .card:before{
    
     background-color: #E8B8B8;
}
.card-slide:nth-child(even) .card:before{
     background-color: #A2C6D6;
}
/* part-cards end */

/* part-news-a */
.part-news-a{
     /* background: url(../img/part-news-a-bg.png) no-repeat center bottom; */
     min-height: 500px;
     background-size: auto 100%;
     padding: 15px 0 0;
}
.newsA-list{
     margin: auto;
     padding-top: 20px; 
}
.newsA-left-ul{
     padding: 0 4%;
}
.newsA-right-ul{
     padding: 0 4%;
     margin-top: 20px;
}
.newsA-left-ul li{
     background: #FFFAF3;
     padding: 10px 10px;  
     margin-bottom: 10px;
     font-size: 16px;
     position: relative;
}
.newsA-left-ul li:before{
     content: "";
     display: block;
     position: absolute;
     width: 40px;
     height: 40px;
     background: url(../img/icon-flag.png)  left center no-repeat;
     background-size: auto 100%;  
     top: 50%;
     margin-top: -20px;
}
.newsA-left-ul li a{
     padding-left: 50px;
     display: block;
     min-height: 36px;
     padding-top: 10px; 
     line-height: 24px;
}
.newsA-right-ul li:before{
     content: "";
     display: inline-block;
     width: 4px; 
     height: 4px; 
     background-color: #000;
     border-radius: 50%;
     vertical-align: 3px;
}
.newsA-right-ul li{
     margin-bottom: 15px; 
}
.newsA-right-ul li a{ 
     font-size: 16px;
}
/* part-news-a end */

/* part-news-b */
.part-news-b{
     background: url(../img/part-news-b-bg.png) no-repeat bottom center;
     background-size: 100% auto;
     padding: 10px 0 20px;
}
.newsB-list{
     padding: 15px 4%;
}
.newsB-list .newsB-aside:first-child{
     margin-left: 0;
}
.newsB-aside{
     width: 100%;
     margin-top: 0px; 
}
.newsB-image{
     display: block;
     overflow: hidden;
}
.newsB-panel{
     padding: 15px;
     margin-top: 10px; 
}
.newsB-panel a{
     font-weight: bold;
     font-size: 18px;  
     display: block;
     height: 52px;
}
.newsB-content-h3{
     font-size: 18px;
     font-weight: bold;
     height: 52px;
}
.newsB-content-p{
     padding: 10px 0;
}
.newsB-content-detail{
     display: block;
     border: 1px solid;
     text-align: center;
     color: #DB1818;
     line-height: 36px; 
     height: 36px;
}
.newsB-banner{
     display: block;
     margin-top: 15px; 
     overflow: hidden; 
}
.newsB-content-ul{
     margin-top: 15px;
}
.newsB-content-ul li{
     padding: 10px 0;
}
.newsB-panel.blue{
     background-color: #E9F0F4;
     border-bottom: 5px solid #BDDBEC;
}
.newsB-panel.blue a{
     color: #DB1818;
     margin-bottom: 10px;
}
.newsB-panel.blue p{
     color: #7A90B2;
}
.newsB-panel.orange{
     background-color: #F8E9E3;
     border-bottom: 5px solid #F1D4C9;
}
.newsB-panel.orange a{
     color:#7DA7C9;
     margin-bottom: 10px;
}
.newsB-panel.orange p{
     color: #D3934F;
}
/* part-news-b end */

/* part-normalbanner */
.part-normalbanner{
     position: relative;
     padding: 10px 0;
}
.normal-banner{
     padding: 10px 4%; 
}
.normal-banner-h3{
     font-weight: bold;
     font-size: 26px;
}
.normal-banner-p{
     padding: 10px 0 15px;
     line-height: 26px;
}
.normal-banner-ul li{
     background-color: #F8DDAD;
     border-left: 5px solid #DF403C;
     padding: 10px 10px;
     margin-bottom: 10px;
}
.normal-banner-ul li:nth-child(even){
     border-left: 5px solid #3898E5;
}
.part-normalbanner img{
     display: none;
}
/* part-normalbanner */

/* part-accordion */
.part-accordion{
     background: url(../img/part-acc-bg.png) center bottom no-repeat;
     background-size: 100% auto;
     padding: 0px 0;   
}
.accordion{
     margin: 20px auto 0;
     text-align: center;
     padding: 0 4%;
}
#acc {
     display: block;
}
#acc ul {
     position: relative;
}
#acc ul li {
     width: 100%; 
     list-style: none;
     border-left: 0;
     position: relative;
     overflow: hidden;
     cursor: pointer;
     margin-bottom: 10px;
}
#acc ul li.active {
     width: 100%; 
}
#acc ul li.active .content{
     height: auto;
}
#acc ul li h3 {
     margin: 0 auto 5px;
     font-size: 18px;  
     color: #000;
     font-weight: 100;
     text-align: center;
     background-color: #0D59B1; 
     color: #fff;
     width: 100%; 
     line-height: 60px;
     font-weight: bold;
} 
#acc ul li:nth-child(2n) h3{
     background-color: #F2A312;
}
#acc ul li:nth-child(3n) h3{
     background-color: #50C8EE;
}
#acc ul li:nth-child(4n) h3{
     background-color: #DF403C;
}
#acc ul li .content { 
     width: 100%; 
     transition: all 0.3s;
     height: 0px;
}
#acc ul li img {
     width: auto;
     object-fit: cover;
     height: 100%;
}
.acc-content-a{
     display: block;
     width: 100%;
     height: 240px; 
     overflow: hidden;
     position: relative;
}
.acc-content-a img{
     transition: all 0.3s; 
}
.acc-content-a img:hover{
     transform: scale(1.1);
}
.acc-content-a span{
     position: absolute;
     background-color: #E24545;
     background-color: rgba(226, 69, 69, 0.6);
     bottom: 0;
     color: #fff;
     padding: 10px;
     left: 0;
     right: 0;
     text-align: left;
}
.acc-content-p{
     background-color: #F4ECE1;
     padding: 10px;
     font-size: 14px; 
     overflow: hidden;
}
/* part-accordion end */



/* part-news-c */
.part-news-c{
     padding: 20px 0 50px;    
     background: url(../img/part-news-c-bg.png) no-repeat center bottom; 
     background-size: 100% auto;
}
.newsC-wrapper{
     margin: 10px auto 0; 
}
.newsC-ul{
     padding: 0 4%; 
}
.newsC-ul li{
}
.newsC-ul li:before{
     content: "";
     display: inline-block;
     background-color: #FFCD1F;
     width: 5px;
     height: 5px;
     flex: 0 0 5px;
     border-radius: 50%;
     vertical-align: 2px;
     margin-right: 5px;  
}
.newsC-ul li{
     padding: 5px 0;
     display: flex;
     align-items: center;
}
.newsC-ul li a{
     font-size: 16px; 
     display: inline-block;
     padding-left: 5px;
}
.newsC-ul li b{
     font-size: 18px;
     font-weight: bold; 
}
/* part-news-c end */

/* part-news-video */
.part-news-video{
     background-color: #EE3D45;
     padding: 10px 0 20px;
}
.news-video{ 
     margin: 20px auto 0; 
     padding: 0 4%;
}
.news-video-box{
     margin-top: 15px; 
}
.news-video .left{
}
.news-video .right{
}
.news-video-h3{
     color: #fff; 
     font-weight: bold;
     font-size: 20px; 
     margin-bottom: 10px; 
     display: block;
}
.news-video-ol{
     overflow: hidden;
     padding-top: 10px; 
}
.news-video-ol li{
     width: 48%;
     height: 120px; 
     overflow: hidden; 
     float: left;
     margin-left: 4%; 
     position: relative;
}
.news-video-ol li:first-child{
     margin-left: 0;
}
.news-video-ul li{
     overflow: hidden;
     text-overflow:ellipsis;
     white-space: nowrap;
     padding: 5px 0;
}
.news-video-ul li:before{
     content: "";
     display: inline-block;
     width: 5px;
     height: 5px;
     background-color: #fff;
     border-radius: 50%;
     vertical-align: 2px;
}
.news-video-ul li a{
     color: #fff;
}
.news-video-left{
     display: block;
     height: 220px;
     overflow: hidden;
     position: relative;
     margin-bottom: 20px;
}
.news-video-left img{
     height: 100%;
     object-fit: cover;
}
.news-video-left.video-icon:before{
     content: "";
     position: absolute;
     width: 60px;
     height: 60px;
     background: url(../img/news-video-icon-left.png) center center no-repeat;
     background-size: auto 100%;
     bottom: 20px; 
     left: 20px; 
}
.news-video-ul.video-icon li:before{
     content: "\f144";
     font: normal normal normal 14px/1 FontAwesome;
     background-color: transparent;
     color: #fff; 
     vertical-align: 0px;
     margin-right: 5px;   
     width: 10px;
     height: 10px; 
}
.news-video-ol.video-icon li:before{
     content: "\f04b";
     font: normal normal normal 14px/1 FontAwesome;
     position: absolute;
     color: #FFC300;
     background-color: #000;
     background-color: rgba(0,0,0,0.7);
     width: 30px; 
     height: 26px;  
     line-height: 26px; 
     text-align: center;
     font-size: 12px;
}
/* part-news-video end */


/* part-fullscreen-slide */
.part-fullscreen-slide{}
.fullscreen-slide{
     position: relative;
     overflow: hidden;
}
.fullscreen-bigger a{
     display: block;
     height: 430px;  
     overflow: hidden;
     display: none;
}
.fullscreen-bigger p{
     background-color: #DC2020;
     color: #fff;
     position: absolute;
     z-index: 2;
     bottom: 0;
     padding: 10px;
     left: 40px;
     text-align: center; 
     right: 40px;
     display: none;
}
.fullscreen-bigger{
     position: relative;
     height: 0px;
     width: 100%;
     z-index: 2;
}
.fullscreen-arrow-left,
.fullscreen-arrow-right
{
     position: absolute;
     background-color: #FFEE81;
     color: #DC2020;
     font-size: 20px; 
     height: 40px;
     width: 30px; 
     text-align: center;
     margin-top: -50px;
     top: 130px;
     line-height: 40px;
     cursor: pointer;
}
.fullscreen-arrow-left{
     left: 0px;
}
.fullscreen-arrow-right{
     right: 0px;
}
.fullscreen-slide .swiper-container{
   height: 230px;
   overflow: hidden; 
}
.fullscreen-slide .swiper-slide .fullscreen-imgbox{
     background-color: #000;
     display: block; 
     height: 230px;     
     text-align: center;
     overflow: hidden;
} 
.fullscreen-slide .swiper-slide img{
     width: 100%;
     min-height: 100%;
     object-fit: cover;
     display: inline-block;
}
.fullscreen-slide .swiper-slide.swiper-slide-active{
     
}
.fullscreen-slide .swiper-slide.swiper-slide-active img{
     /* opacity: 1;  */
}
.fullscreen-slide .inner{
     display: block;
     position: relative;
}
.fullscreen-slide .inner p{
     background-color: #DC2020;
     color: #fff;
     left: 30px; 
     right: 30px;
     text-align: center;
     padding: 10px 10px;
}
/* part-fullscreen-slide end */


/* part-news-live  */
.part-news-live{
     padding: 30px 0 10px;
}
.news-live-wrapper{
     margin: 0 auto; 
}
.live-dl{
     margin: 0 auto;
     position: relative;
     padding: 0 4%;
}
.live-dt{
     width: 100%;
     overflow: hidden;
     position: relative;
}
.live-dt a{
     width: 100%;
     height: 230px; 
     overflow: hidden;
     position: relative; 
     display: block;
}
.live-dt::before{
     content: "";
     display: block;
     width: 100%;
     height: 100px;
     background: url(../img/part-news-live.png) center center no-repeat;
     background-size: 100% auto;
}
.live-dt.icon-live a:after{
     content: "";
     position: absolute;
     width: 50px;
     height: 30px;
     background: url(../img/icon-live.png) no-repeat;
     bottom: 20px;
     left: 20px;
     background-size: auto 100%;
}
.live-dt img{
     height: 100%;
     object-fit: cover;
     width: auto;
}
.live-dd{
     background-color: #FBF2E1;
}
.live-dd-imgx{
     height: 0px;
     overflow: hidden;
     margin-bottom: 10px;
}
.live-dd-imgx img{
     height: 100%;
     width: auto;
     display: inline-block;
}
.live-dd a{
     display: block;
     padding: 8px 10px; 
     font-size: 14px;
}

.live-dd a.active{
     
}
.live-ul{
     display: block;
     width: 100%;
     margin: 20px auto 0;
     padding: 0 4%;
}
.live-ul li{
     margin-bottom: 20px; 
     /* background: linear-gradient(270deg, #FFFFFF 0%, #F6E3C1 100%); */
}
.live-ul li:last-child{
     margin-bottom: 0;
}
.live-ul li a{
     display: flex;
     position: relative;
}
.live-ul-imgx{
     flex: 0 0 110px;
     height: 80px;
     overflow: hidden;
}
.live-ul-imgx img{
     height: 100%;
     width: auto;
     object-fit: cover;
}
.live-ul li .content{
     top: 10px;
     right: 0;
     flex: 1;
     padding: 0px 0px 0 10px; 
}
.live-ul li .content h3{
     font-weight: bold;
     font-size: 16px;
     margin-top: 0; 
     margin-bottom: 5px;
}
.live-ul li .content p{
     font-size: 12px;
     height: 34px;
     overflow: hidden;
}
.live-ul li .content i{
     position: absolute;
     width: 30px;
     height: 30px;
     font-size: 20px;  
     color: #E3BB74;
     bottom: -20px;
     right: 0;
     display: none;
}
/* part-news-live end */



/* part-news-e */
.part-news-e{
     padding: 10px 0;
}
.newsE-wrapper{
     margin: 0 auto; 
     padding-top: 10px; 
}
.newsE-left{
     padding: 0 4%;
}
.newsE-right{
     padding: 0 4%;
}
.newsE-left li{
     position: relative;
     padding-left: 50px;
     margin-bottom: 20px;
}
.newsE-left span{
     position: absolute;
     color: #EFC57D;
     display: none;
     font-size: 80px; 
     left: 40px;    
     line-height: 110px;
     bottom: 0; 
     font-weight: bold;
}
.newsE-left .img-x{ 
     flex: 0 0 100px;
     width: 100px;
     height: 100px;
     overflow: hidden;
     position: absolute;
     border-radius: 50%;
     z-index: 10;
     left: 0;
}
.newsE-left .img-x img{
     height: 100%;
     width: auto;
}
.newsE-left .content{
     background-color: #E3BB74;
     min-height: 100px;
     position: relative;
     padding: 10px 10px 10px 65px;   
     color: #fff; 
}
.newsE-left-h3{
     color: #fff;
     font-size: 16px;
     margin-bottom: 5px;
     font-weight: bold;
     margin-bottom: 5px;
     display: block;
}
.newsE-left li .content p{
     font-size: 14px;
     line-height: 24px;
}
.newsE-right-dl{
     padding-top: 10px;
     margin-bottom: 10px;
}
.newsE-right-dl dt{
     font-weight: bold;
     font-size: 20px;  
     margin-bottom: 10px;
}
.newsE-right-dl li{
     position: relative;
     padding: 5px 0 5px 10px;
}
.newsE-right-dl li a{
     font-size: 16px;
}
.newsE-right-dl dt p{
     font-size: 14px; 
     padding-top: 10px; 
} 
.newsE-right-dl li:before{
     content: "";
     width: 5px;
     height: 5px;
     background-color: #000;
     position: absolute;
     border-radius: 50%;
     top: 14px;  
     left: 0;  
}
.newsE-right-banner{
     display: block;
     overflow: hidden;
     margin-top: 10px; 
}
/* part-news-e end */


/* part-link-a */
.part-link-a{
     background: url(../img/part-link-a-bg.png) no-repeat center bottom;
     background-size: 100% auto;
     padding-bottom: 30px;
     padding-top: 20px;
}
.linkA-wrapper{
     position: relative;
     margin: 0 auto;
}
.linkA-box{
     padding: 0 4%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
}
.linkA-box a{
    position: relative;
     padding: 20px; 
     border-radius: 10px; 
     font-size: 16px; 
     color: #fff;
     background-color: #000;
     display: inline-block;
     margin-bottom: 30px;
} 
.linkA-box a:after{
     content: "";
     width: 0; 
     height: 0;
     border-style: solid;
     border-width: 10px 10px 0 10px;
     border-color: #000 transparent transparent transparent;
     position: absolute;
     bottom: -9px; 
     left: 50%;
     margin-left: -10px;
}
.linkA-box a.linkA-1{
     background-color: #EF8B5A;
}
.linkA-box a.linkA-1:after{
     border-color: #EF8B5A transparent transparent transparent;
}
.linkA-box a.linkA-2{
     background-color: #EF5A61;
}
.linkA-box a.linkA-2:after{
     border-color: #EF5A61 transparent transparent transparent;
}
.linkA-box a.linkA-3{
     background-color: #E33B3B;
}
.linkA-box a.linkA-3:after{
     border-color: #E33B3B transparent transparent transparent;
}
.linkA-box a.linkA-4{
     background-color: #9870EB;
}
.linkA-box a.linkA-4:after{
     border-color: #9870EB transparent transparent transparent;
}
.linkA-box a.linkA-5{
     background-color: #4886EC;
}
.linkA-box a.linkA-5:after{
     border-color: #4886EC transparent transparent transparent;
}
.linkA-box a.linkA-6{
     background-color: #54C8B1;
}
.linkA-box a.linkA-6:after{
     border-color: #54C8B1 transparent transparent transparent;
}
/* part-link-a end */

/* part-friends */
.part-friends{
     padding: 0px 4% 10px;
}
.friends-image{
     margin: 5px auto 10px;
     display: flex;
     flex-wrap: wrap;
}
.friends-image a{
     width: 50%;
     height: 60px;
     display: inline-block;
     margin-bottom: 10px;
     text-align: center;
     
}
.friends-image a img{
     display: inline-block;
     height: 100%;
     width: auto;
}
.friends-text{
     display: flex;
     margin: 0 auto;
     flex-wrap: wrap;
}
.friends-text a{
   width: 50%;
   padding: 8px 5px;
   display: inline-block;
   text-align: center;
}
/* part-friends end */

/* part-newsone */
.part-newsone{
     padding: 20px 4% 10px;
}
.part-newsone .inner{
     margin:  0 auto;
     position: relative;
}
.newsone-left{
     position: relative;
}
.newsone-left>img{
     display: none;
}
.newsone-content{
     padding: 10px 0;  
}
.newsone-h3{
     font-size: 20px; 
     font-weight: bold;
     padding-bottom: 10px;
     display: block;  
}
.newsone-p{
     font-size: 14px;
     line-height: 24px;
}
.newsone-right{
     text-align: center;
}
.newsone-image{
     height: 230px; 
     overflow: hidden; 
     display: block;
     border-radius: 5px;
     border: 5px solid #81C3F5; 
     margin-top: 10px;
}
.newsone-image img{
    height: 100%;
    width: auto;
    object-fit: cover;
}
.newsone-right-title{
     width: 80%;
     display: inline-block;
}
/* part-newsone end */


/* go-top */
a#go-top {
     background-image: url(https://www.qdxin.cn/img/sprit20200904.png?t=090414);
     background-image: -webkit-image-set(url(https://www.qdxin.cn/img/sprit20200904.png?t=090414) 1x,url(https://www.qdxin.cn/img/sprit20200904@2x.png?t=090414) 2x);
     background-repeat: no-repeat;
 }
 a#go-top{
     width: 40px;
     height: 40px;
    background-position: -130px -253px;
    color: #999;
    text-decoration: none;
    text-indent: -9999em;
    line-height: 25px;
    position: fixed; right: 20px; bottom: 40px;
 }
/* go-top end */







