@charset "UTF-8";

body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, table, td, th, form, fieldset, img, dl, dt, dd { margin:0; padding:0; }
textarea, input, select, body { font-size:12px; }
select, input { vertical-align:middle; }
fieldset, img { border:0; }
ul, ol { list-style:none; }
a { text-decoration:none; color:#000; }
a:hover { color:#ffa10d; }
.fl { float:left; display:inline; }
.fr { float:right; display:inline; }
.cb { clear:both; display:block; height:0px; overflow:hidden; width:100%; }
.clearfix:after { clear:both; content:""; display:block; height:0; }
img{display:block;}
/* 跨域 */
@font-face {
    font-family:"DFPHAIBAOW12-GB";
    src:url('../font/DFPHAIBAOW12GBnumonly.ttf') format('truetype')
}
.wrap,.btn,img {
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:transparent;
    tap-highlight-color:transparent
}
body {
    overflow:hidden;
}
.swiper-container {
    position:fixed;
    background-image:url("../img/bg.jpg");
    background-size:cover;
    background-position:top center;
    background-repeat:no-repeat;
    top:0;
    right:0;
    left:0;
    bottom:0
}
.wrap {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    transform:translateZ(0)
}
.wrap.blackbg{
    background-color: rgba(0,0,0,0.5);
}
.cp {
    cursor:pointer
}
.page {
    position:absolute;
    top:0;
    left:5%;
    width:90%;
    height:100%;
}
.btn {
    display:inline-block;
    width:387px;
    height:65px;
    line-height:65px;
    border-radius:10px;
    background-color:#f75953;
    color:#FFF;
    font-size:24px;
    text-align:center
}
.titileimg {
    display:block;
    margin: 10vh auto 0;
    width: 100%;
}
.helpBtn {
    display:block;
    margin:2vh auto 0;
}
.startBtn {
    display:block;
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translate(-50%, 0);
}
.popup1 {
    width: 100%;
    height: 100vh;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup1 .inner{
    background: #fff;
    width: 90%;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 3vh;
    box-shadow: 0 3px 3px #000;
    position: relative;
}
.popup1 .inner:before{
    content: "×";
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: #f44336;
    color: #fff;
    border-radius: 0 10px 0 0;
}
.popup1 .inner h2{
    color: #f44336;
    font-size: 4vh;
    border-left: 5px solid;
    padding-left: 15px;
}
.popup1 .inner .active-desc{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px dashed #ccc;
    font-size: 14px;
    max-height: 70vh;
    line-height: 24px;
    overflow-y: auto;
    overflow-x: hidden;
}
.popup1 .inner .active-desc p{
    margin-bottom: 10px;
}
.popup1 img{
    width: 96%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
.popup2 {
    width: 90%;
    height: 100vh;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.popup2 img{
    display: block;
    width: 100%;
}
.popup2 .popup2-tab{
    position: relative;
}
.popup2 .popup2-btns{
    width: 100%;
    margin-top: 3vh;
}
.popup3 {
    position:absolute;
    width:412px;
    height:216px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    background-color:RGBA(0,0,0,0.8);
    font-size:59px;
    color:#FFF;
    text-align:center;
    line-height:3em;
    border-radius:27px
}
.text {
    width:100%;
    margin: 2vh auto 0;
    color:#000000;
    font-family:"微软雅黑";
    font-size: 2vh;
}
#p1 .text {
    text-align:center;
    line-height:1.6em;
    color:#000000;
    text-shadow:0 0 6px #FFF;
    border:solid #000000 3px;
    background-color:rgba(255,255,255,0.4);
    padding: 2vh 0;
}
#p1 .text font{
    margin-bottom: 10px;
    display: block;
}
#p1 .text em{
    font-style: normal;
    font-weight: 700;
    padding: 5px;
}
/* #p2 */
.imgArrow {
    position:absolute;
    left:400px;
    top:328px
}
.imgArrowText {
    position:absolute;
    left:520px;
    top:232px
}
.characterBox {
    text-align:center;
    width: 100%;
    position: absolute;
    top: 15vh;
}
.characterBox img{
    display: inline-block;
    width: 20%;
}
.springBox {
    position:absolute;
    width: 100%;
    top:40vh;
    left:0px;
    bottom: 0;
    right: 0;
}
.time {
    position:absolute;
    top:32px;
    right:41px;
    font-size:26px;
    color:#FFF
}
.time:BEFORE {
    content:"剩余时间:"
}
.time:AFTER {
    content:"秒"
}
#p2,#wrap_1,#wrap_2,#wrap_3 {
    display:none
}
.dotting {
    display:inline-block;
    min-width:5px;
    min-height:5px;
    box-shadow:5px 0 currentColor,18px 0 currentColor,32px 0 currentColor;
    -webkit-animation:dot 2s infinite step-start both;
    animation:dot 2s infinite step-start both;
    *zoom:expression(this.innerHTML = '...');
    /* IE7 */
}
:root .dotting {
    margin-right:20px
}
/* IE9+,FF,CH,OP,SF */

@-webkit-keyframes dot {
    25% {
    box-shadow:none
}
50% {
    box-shadow:5px 0 currentColor
}
75% {
    box-shadow:5px 0 currentColor,18px 0 currentColor
}

}
@keyframes dot {
    25% {
    box-shadow:none
}
50% {
    box-shadow:5px 0 currentColor
}
75% {
    box-shadow:5px 0 currentColor,18px 0 currentColor
}

}
.fog {
    position:absolute;
    top:439px;
    left:15px
}
@keyframes fog_flow {
    0% {
    opacity:0;
    transform:translate(0px,0px)
}
23% {
    opacity:0.1
}
40% {
    opacity:0.27
}
63% {
    opacity:0.1
}
100% {
    opacity:0.2;
    transform:translate(0px,-100px)
}

}
@-webkit-keyframes fog_flow {
    0% {
    opacity:0;
    -webkit-transform:translate(0px,0px)
}
23% {
    opacity:0.1
}
40% {
    opacity:0.27
}
63% {
    opacity:0.1
}
100% {
    opacity:0.2;
    -webkit-transform:translate(0px,-100px)
}

}
.man {
    animation:man_into_water cubic-bezier(.36,.75,.44,1.49) 0.3s;
    animation-iteration-count:1;
    transform-origin:50% 50%;
    -webkit-animation:man_into_water cubic-bezier(.36,.75,.44,1.49) 0.3s;
    -webkit-animation-iteration-count:1;
    -webkit-transform-origin:50% 50%
}
@keyframes man_into_water {
    0% {
    opacity:0;
    transform:translate(0px,-22px)
}
21% {
    opacity:1
}
100% {
    opacity:1;
    transform:translate(0px,0px)
}

}
@-webkit-keyframes man_into_water {
    0% {
    opacity:0;
    -webkit-transform:translate(0px,-22px)
}
21% {
    opacity:1
}
100% {
    opacity:1;
    -webkit-transform:translate(0px,0px)
}

}
/**/
.score {
    position:absolute;
    text-align:center;
    width:100%;
    top: 31%;
    color:#f75a53;
    font-size:60px;
    text-align: center;
    font-weight: 700;
}
.score-text{
    position: absolute;
    bottom: 30px;
    background-color: #fff;
    font-size: 16px;
    left: 30px;
    right: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 5px 7px #e7b212;
}
.onceAgainBtn {
    width: 46%;
    display: inline-block;
}
.submitBtn {
    width: 46%;
    display: inline-block;
    margin-left: 6%;
}
.telLabel {
    position:absolute;
    text-align:center;
    width:100%;
    top:168px;
    padding-top:100px
}
.tel {
    border:none;
    background:none;
    border-bottom:1px solid #FFF;
    border-radius:0px;
    font-size:38px;
    color:#FFF;
    background-color:RGBA(255,255,255,0.2);
    width:286px;
    text-align:center
}
.cover {
    display:none
}
.cover1 {
    position:absolute;
    width:439px;
    height:102px;
    left:20px;
    top:234px;
    background-color:#ea9a25
}
.cover2 {
    position:absolute;
    width:180px;
    height:80px;
    left:245px;
    top:343px;
    background-color:#ea9a25
}
.popup2_2 {
    position:absolute;
    width:493px;
    height:404px;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    background-image:url("http://n.sinaimg.cn/mj/tab2.png")
}
.popup2_2 .score {
    position:absolute;
    display:block;
    text-align:center;
    width:150px;
    left:138px;
    top:86px;
    color:#f75a53;
    font-size:60px
}
.popup2_2 .onceAgainBtn {
    position:absolute;
    width:232px;
    height:74px;
    left:116px;
    top:216px;
    -webkit-animation:myscale 0.5s linear 0s infinite normal
}
@-webkit-keyframes myscale /*Safari and Chrome*/ {
    0% {
    -webkit-transform:scale(1)
}
25% {
}
50% {
    -webkit-transform:scale(1.1)
}
75% {
    -webkit-transform:scale(1.03)
}
100% {
    -webkit-transform:scale(1)
}

}
.popup2_2 .seeWrap_3 {
    position:absolute;
    width:166px;
    height:62px;
    left:151px;
    top:307px
}
.weixinCover {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:#FFF;
    background-color:RGBA(0,0,0,0.9);
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    transform:translateZ(0)
}
.weixinCover .arrow {
    position:absolute;
    top:4px;
    right:30px
}
.weixinCover .continer {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}
.weixinCover .continer .text {
    font-size:24px;
    text-align:center;
    color:#FFF;
    font-weight:bold;
    margin:46px auto 30px
}
/* .weixinCover .continer .btn {
    font-size:37px;
    text-align:center;
    display:block;
    width:186px;
    margin:60px auto 0;
    padding:10px 30px;
    background-color:#FC2121;
    box-shadow:0px 8px 0 #A00B0B;
    border-radius:10px;
    color:#FFF
}
*/
.top10List li {
    line-height:1.6em
}
.no {
    margin:0 10px;
    width:34px;
    text-align:right;
    display:inline-block
}
.u_phone {
    width:200px;
    display:inline-block
}
.u_score {
    width:100px;
    display:inline-block;
    text-align:right
}
