/* color */
// 常用主色
// @color-main-l: #009688;
@color-main-l: #5785b3;
@color-main-ll: #8e97d8;
@color-main-lll: #2A3F54;
@color-main-lll-dark: #1f2e3d;
@color-main-llll: #1E9FFF;
@color-main-white: #fff;
@color-main-white-hover: #f2f2f2;
// 场景色
@color-scene-l: #FFB800;
@color-scene-ll: #ff6767;
@color-scene-lll: #78c9a9;
@color-scene-llll: #2F4056;
@color-scene-lllll: #8D9CAF;

@color-scene-error:#ff1100;

// 层级关系
@zindex-l: 10;
@zindex-ll: 100;
@zindex-lll: 200;
@zindex-llll: 1000;

// 字体黑色
@color-font-black-l: #333;
@color-font-black-ll: #666;
@color-font-black-lll: #999;

// 灰色
@color-gray-l: #d2d2d2;
@color-gray-ll: #f6f6f6;

@color-gray-lite-l: #f8f8f8;


// 组件色
@color-tree-font: #b8c7ce; 
@color-tree-bghover: #34495e;

// 组件的尺寸 
@left-aside-width: 220px;


// 单选等图片img文件夹目录
@imgurl: '../img/';